/* FOR DESKTOP */

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "CustomFont";
  src: url("./fonts/OoohBaby-Regular.ttf") format("truetype");
}

/* HOME */

#home-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

#not-desktop {
  height: 100vh;
  width: 100vw;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: white;
  color: black;
  font-family: "CustomFont", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

#bgImg {
  height: 100%;
  width: 100%;
  position: fixed;
}

#homeForm {
  font-size: 30px;
  position: absolute;
  z-index: 10;
  top: 40%;
}

#inputName {
  font-size: 28px;
  display: flex;
  border-radius: 10px;
  border: 3px solid #800000b3;
  opacity: 1;
  padding: 5px;
  font-family: "Times New Roman", Times, serif;
}

::placeholder {
  padding: 5px;
  font-family: "Times New Roman", Times, serif;
  font-size: 28px;
}

#submitName {
  font-size: 20px;
  position: absolute;
  z-index: 10;
  top: 50%;
  background-color: maroon;
  color: white;
  height: 40px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid black;
  cursor: pointer;
}

/* ENVELOPE */

#mainDiv {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #c52b2b;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 90vh;
  border-radius: 10px;
  background-color: rgb(232, 204, 204);
  position: absolute;
}

#stamp {
  position: absolute;
  z-index: 10;
  top: 50px;
  right: 25%;
  cursor: pointer;
}

img {
  height: 200px;
  width: 200px;
}

h1 {
  font-family: "CustomFont", sans-serif;
  font-size: 100px;
}

/* OPEN */

h2 {
  font-family: "CustomFont", sans-serif;
  font-size: 80px;
  font-weight: bold;
}

#buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#yes {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  font-family: "CustomFont", sans-serif;
  color: white;
  border-radius: 4px;
  background-color: #c52b2b;
  height: 40px;
  width: 80px;
  border: 1px solid maroon;
  position: absolute;
  z-index: 10;
  top: 430px;
  left: 30%;
  cursor: pointer;
}


#no {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  font-family: "CustomFont", sans-serif;
  color: white;
  border-radius: 4px;
  background-color: #c52b2b;
  height: 42px;
  width: 80px;
  border: 1px solid maroon;
  position: absolute;
  z-index: 10;
  top: 430px;
  left: 70%;
  cursor: pointer;
}

.modal {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.content {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 500;
  color: maroon;
}

.popup-content {
  border-radius: 10px;
}

#noPopupBtn {
  height: 20px;
  width: 20px;
  position: absolute;
  right: 20px;
  cursor: pointer;
}

#yesModal {
  height: 300px;
  width: 400px;
  display: flex;
  justify-content: space-between;
}

#video {
  height: 300px;
  width: 300px;
  position: relative;
  left: 250px;
}

h3 {
  font-family: "CustomFont", sans-serif;
  font-size: 20px;
  font-weight: bold;
  position: relative;
  left: 300px;
}

#mainOpenDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: white;
}

/* RESPONSIVE */
@media only screen and (max-width: 1023px) {
  .desktop-ui-element {
    display: none !important;
  }
}

/* @media screen and (max-width: 450px) {
  h1 {
    font-family: "CustomFont", sans-serif;
    font-size: 45px;
  }
  h2 {
    font-size: 30px;
  }
  img {
    height: 100px;
    width: 100px;
  }
  #noPopupBtn {
    right: 7px;
  }
  .content {
    font-size: 22px;
  }
  #video {
    height: 10rem;
    width: 10rem;
    left: 27px;
  }
  h3 {
    left: 43px;
  }
  #yesModal {
    height: 177px;
  }
}

@media screen and (min-width: 460px) and (max-width: 720px) {
  h1 {
    font-family: "CustomFont", sans-serif;
    font-size: 70px;
  }
  h2 {
    font-size: 50px;
  }
  img {
    height: 120px;
    width: 120px;
  }
  #noPopupBtn {
    right: 9px;
  }
}

@media screen and (min-width: 720px) and (max-width: 1070px) {
  #video {
    height: 18rem;
    width: 18rem;
    left: 60px;
  }
  h3 {
    font-size: 18px;
    left: 130px;
  }
  .popup-content {
    width: 385px;
  }
} */
